:root{
    --background-1 : #ffffff;
    --background-2 : #D9D9D9; 
    --background-3 : #817474;
    --background-4 : #030201;
    --font-size-1: 16px;  /* for large screen >600px */
    --font-size-2: 14px;
    --font-color-1: black;
    --border-color-1: #73AD21;
}
body{
    font-size: var(--font-size-2);
    background-color: var(--background-1);

}

html{
    font-size: var(--font-size-2);
}

@media (min-width: 600px) {
    body { 
        font-size: var(--font-size-1);
    }
    html{
        font-size: var(--font-size-1);
    }
}