:root{
    --background-1 : #fff;
    --background-2 : #D9D9D9; 
    --background-3 : #817474;
    --front-size: 18px;
    --front-size-2: 20px;
}
body{
    font-size: var(--front-size);
    background-color: var(--background-1);

}

@media (min-width: 600px) {
    body { 
        font-size: var(--front-size-2);
    }
}